<template>
    <AdminLayout>
        <FormLayout>
            <br>
            <div>
            <p>เพิ่มรายวิชา</p><br><br><br>
            <label for="sub-id">รหัสวิชา: </label>
            <input type="text" id="sub-id"><br><br>
            <label for="name">ชื่อวิชา: </label>
            <input type="text" id="name"><br><br>
            <label for="decription">คำอธิบายรายวิชา: </label>
            <textarea type="text" id="decription"></textarea><br><br>
            <label for="course">หลักสูตร: </label>
            <select id="course">
                <option>55</option>
                <option>60</option>
                <option>62</option>
            </select><br><br>
            <label for="year">ปีการศึกษา: </label>
            <select id="year">
                <option>2565</option>
                <option>2564</option>
                <option>2563</option>
                <option>2562</option>
                <option>2561</option>
                <option>2560</option>
                <option>2559</option>
                <option>2558</option>
                <option>2557</option>
                <option>2556</option>
                <option>2555</option>
            </select><br><br>
            <label for="semester">ภาคการศึกษา: </label>
            <select id="semester">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select><br><br>
            <label for="sect.">กลุ่ม: </label>
            <select id="sect.">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select><br><br>
            <label for="status">สถานะ: </label>
            <select id="status">
                <option>เปิด</option>
                <option>ปิด</option>
            </select><br><br>
            </div>
            <input type="submit" value="บันทึก">
            <input type="button" value="ยกเลิก"><br><br><br>

        </FormLayout>
    </AdminLayout>
</template>

<script>
import AdminLayout from '../../../components/layouts/AdminLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'
export default {
    components: {
        AdminLayout,
        FormLayout,
    }
}
</script>

<style scoped>
p{
     color:black;
     text-decoration: underline black;
     border:none;
     border-radius: 5px;
     text-align:center;
     float:left;
     margin-left: 40px;
     width:auto;
     padding-left:8px;
     padding-right:8px;
     font: 16px Prompt;
 }
 div{
    text-align:left;
     margin-left: 50px;
     color:black;
     width: 85%;
     display: table;
 }
 select{
     width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
     outline:none;
 }
 textarea{
     width:400px;
     height :25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
     outline:none;
 }
 input{
     width:250px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
     display: table-cell;
 } 
 input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:120px; height:56px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
     cursor: pointer;
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:56px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
     cursor: pointer;
 }
</style>