<template>
    <AdminLayout>
        <FormLayout>
            <br>
            <p>เพิ่มอาจารย์ผู้สอน</p><br><br><br>
            <div>
                <label for="id">รหัสอาจารย์: </label>
                <input type="text" id="id"><br><br>
                <label for="prename">คำนำหน้า: </label>
                <select id="prename">
                    <option>อ.</option>
                    <option>ดร.</option>
                    <option>ผู้ช่วยศาสตราจารย์ ดร.</option>
                    <option>รองศาสตราจารย์ ดร.</option>
                    <option>ศาสตราจารย์ ดร.</option>
                </select><br><br>
                <label for="name">ชื่อ: </label>
                <input type="text" id="name"><br><br>
                <label for="lastname">นามสกุล: </label>
                <input type="text" id="lastname"><br><br>
                <label for="email">Email: </label>
                <input type="email" id="email"><br><br>
                <label for="phone">เบอร์โทรศัพท์: </label>
                <input type="tel" id="phone" pattern="[0-9]{10}"><br><br>
                <label for="usn">Username: </label>
                <input type="text" id="usn"><br><br>
                <label for="password">Password: </label>
                <input type="password" id="password"><br><br>
            </div>
                <input type="submit" value="บันทึก">
                <input type="button" value="ยกเลิก" onclick="window.location.href='/admin/teacher';">
                <br><br><br>
        </FormLayout>
    </AdminLayout>
</template>

<script>
import AdminLayout from '../../../components/layouts/AdminLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'
export default {
    components:{
        AdminLayout,
        FormLayout,
    }
}
</script>

<style scoped>
p{
     color:black;
     text-decoration: underline black;
     border:none;
     border-radius: 5px;
     text-align:center;
     float:left;
     margin-left: 40px;
     width:auto;
     padding-left:8px;
     padding-right:8px;
     font: 16px Prompt;
 }
 div{
    text-align:left;
     margin-left: 50px;
     color:black;
     display: table;
 }
 select{
     width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
     outline:none;
 }
 input[type="text"],input[type="email"],input[type="tel"]{
     width:300px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
     display: table-cell;
 } 
input[type="password"]{
      width: 300px;
      height:25px;
      border:hidden;
      box-shadow: 0 1px 1px gray;
      padding-left: 20px;
      color: black;
  }
   input[type="password"]:focus{
      outline-width: 0;
  }
input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:120px; height:56px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
     cursor: pointer;
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:56px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
     cursor: pointer;
 }
</style>