<template>
    <ResetPassLayout/>
</template>

<script>
import ResetPassLayout from '../components/layouts/ResetPassLayout.vue'
export default {
    components: {
        ResetPassLayout
    }
}
</script>