<template>
  <div>
    <v-dialog v-model="open" max-width="sm">
      <v-card>
        <v-card-text>
          <v-icon icon="md:home"></v-icon>
          <div><h3>เกิดข้อผิดพลาด</h3></div>
          <div>{{ message }}</div>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="onClose">ตกลง</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    open: Boolean,
    onClose: Function,
    message: String,
  },
};
</script>