<template>
  <v-row>
    <v-dialog v-model="open">
      <div class="modal-loading">
        <v-progress-circular
          indeterminate
          color="green"
          :size="50"
          persistent
        ></v-progress-circular>
      </div>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    open: Boolean,
  },
};
</script>

<style scoped>
.modal-loading {
  padding: 25px;
  background: white;
  border-radius: 15px;
}

.v-progress-circular {
  width: 80px;
}
</style>