<template>
    <StudentLayout>
        <LogoutLayout/>
    </StudentLayout>
</template>

<script>
import StudentLayout from '../../components/layouts/StudentLayout.vue'
import LogoutLayout from '../../components/layouts/LogoutLayout.vue'
export default {
    components: {
      StudentLayout,
      LogoutLayout,
    }
}
</script>