<template>
    <StudentLayout>
        <table>
            <tr>
                <th>ชุดที่</th>
                <th>ชื่อแบบทดสอบ</th>
                <th>ข้อที่</th>
                <th>วันกำหนดส่ง</th>
                <th>เวลาเริ่ม</th>
                <th>เวลาส่ง</th>
                <th>คะแนน</th>
                <th>ไฟล์</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>TestDatabase1</td>
                <td>1</td>
                <td>22/08/2565</td>
                <td>09:00</td>
                <td>12:00</td>
                <td>-/5</td>
                <td></td>
                <td><button onclick="window.location.href='/student/test2';">ทำแบบทดสอบ</button></td>
            </tr>
            <tr>
                <td></td>
                <td>TestDatabase1</td>
                <td>2</td>
                <td>22/08/2565</td>
                <td>09:00</td>
                <td>12:00</td>
                <td>-/5</td>
                <td></td>
                <td><button onclick="window.location.href='/student/test2';">ทำแบบทดสอบ</button></td>
            </tr>                                    
        </table>
    </StudentLayout>
</template>

<script>
import StudentLayout from '../../components/layouts/StudentLayout.vue'
export default {
    components:{
        StudentLayout,
    }
}
</script>

<style scoped>
    table{
        margin-top:50px;
        margin-left: auto;
       margin-right: auto;
       text-align: center;
       width:90%;
       border-collapse: collapse;
       box-shadow: 0 1px 1px gray;
       font: 16px Prompt;
    }
    th{
        background-color: #007468;
        color: white;
        height:45px;
        font: 16px Prompt;
    }
    td{
        background-color: #F0EEEE;
        color: black;
        outline:none;
        border:none;
        height:45px;
        text-align:center;
        font: 16px Prompt;
    }
    td button{
        background-color: #1A8149;
        color: white;
        outline:none;
        border:none;
        border-radius: 5px;
        box-shadow: 0 1px 1px gray;
        font: 16px Prompt;
    }

</style>