<template>
    <StudentLayout>
        <br>
        <p>ยินดีต้อนรับ นักศึกษา</p>
        <p></p>
    </StudentLayout>
</template>

<script>
import StudentLayout from '../../components/layouts/StudentLayout.vue'
export default {
    components: {
        StudentLayout,
    }
}
</script>