@font-face {
    font-family: "default";
    src: url('./fonts/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: "default";
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: "default";
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: bold;
  }


  @font-face {
    font-family: "default";
    src: url('./fonts/Roboto-Thin.ttf');
    font-weight: 100;
  }

  body {
    font-family: "default" !important;
    overflow: hidden;
  }

  html{
    overflow: hidden;
  }

  input {
    border-radius: 25px;
    border: solid #4d4d4d;
    background-color: #007468;
  }

  button {
    padding: 5px 15px;
    background-color: #007468;
  }

  .row {
    display: flex;
  }

  .flex-item {
    display: flex;
  }
  