<template>
  <BaseLayout>
  TEST View
  </BaseLayout>
</template>

<script>
// @ is an alias to /src
import BaseLayout from '../components/layouts/baseLayout.vue'

export default {
  name: 'HomeView',
  components: {
    BaseLayout
  }
}
</script>
