<template>
    <br><br><br>
        <FormLayout float>
          <div>
              <br>
            <label style="color:black;text-decoration: 2px underline black;">เพิ่มนักศึกษาหลายคน</label><br><br><br>
            <label for="excel">File excel: </label>
            <label id="excel" for="upExcel">
                <span for="upExcel">
                 <mark>
                     <img src="../../../assets/upload.png" style="max-height:16px">
                     เพิ่มไฟล์
                 </mark>
                </span>  
            </label>
            <input type="file" id="upExcel" style="display:none">
            <br><br><br>
          </div>
                 <input type="submit" value="บันทึก">
                 <input type="button" value="ยกเลิก" onclick="window.location.href='/teacher/student/add'; ">
                 <br><br><br>
        </FormLayout>
    
</template>

<script>

import FormLayout from '../../../components/layouts/FormLayout.vue'
export default {
    components: {
        FormLayout,
    }
}
</script>

<style scoped>
div{
    text-align:left;
     margin-left: 50px;
     color:black;
     display: table;
 }
label[for="upExcel"]{
    background:white;
    height:60px;
    box-shadow:0 1px 1px gray;
    border:none;
    padding-right: 200px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
}
mark{
    background:#C4C4C4
}
input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:160px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
</style>