<template>
    <TeacherLayout>
        <br>
        <FormLayout>
            <br>
            <p>เพิ่มแบบทดสอบ</p><br><br><br>
             <div>
            <label for="name">ชื่อแบบทดสอบ: </label>
                <input type="text" id="name"><br><br>
            <label for="quantity">จำนวนข้อสอบ: </label>
                <input type="number" id="quantity" min="1" max=""><br><br>
            <label for="type">คำถามแบบ:  </label>
                <select id="type">
                    <option value="Manual">กำหนดเอง</option>
                    <option value="Auto">อัตโนมัติ</option>
                </select><br><br>
                <label for="status">สถานะ: </label>
            <select id="status">
                <option value="open">เปิด</option>
                <option value="close">ปิด</option>
            </select><br><br><br>
            
             </div>
                <input type="submit" value="ตกลง(แบบกำหนดเอง)" onclick="window.location.href='/teacher/test/new-question/manual'"> 
                <input type="submit" value="ตกลง(แบบอัตโนมัติ)" onclick="window.location.href='/teacher/test/new-question/auto'"> 
                <input type="button" value="ยกเลิก">

          <br><br><br>
        </FormLayout>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../../components/layouts/TeacherLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'

export default {
    components: {
      TeacherLayout,
      FormLayout,
    },
    data(){
        auto: true;
    }
}
</script>

<style scoped>
 p{
     background:#007468;
     color:black;
     border:none;
     border-radius: 5px;
     text-align:center;
     float:left;
     margin-left: 40px;
     width:auto;
     padding-left:8px;
     padding-right:8px;
     font: 16px Prompt;
 }
 div{
     text-align:left;
     margin-left: 40px;
     color:black;
 }
 select{
     width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 3px 3px gray;
     border:none;
 }
 input[id="name"]{
     width: 200px;
     height:20px;
     outline-width: 0;
     box-shadow:0 1px 1px gray;
     border:none;
     
 }
 input[id="quantity"]{
     width: 200px;
     height:20px;
     outline-width: 0;
     box-shadow:0 1px 1px gray;
     border:none;
 }
 input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:160px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
</style>