<template>
    <TeacherLayout>
        <br>
        <button type="button" onclick="window.location.href ='multiple-add' ">เพิ่มนักศึกษาหลายคน</button><br><br>
        <FormLayout>
            <p style="text-decoration: underline black; font: 16px Prompt black;">เพิ่มข้อมูลนักศึกษา</p><br><br><br>
             <div>
                 <label for="id">รหัสนักศึกษา: </label>
                 <input type="text" id="id"><br><br>
                 <label for="prename">คำนำหน้า: </label>
                 <select id="prename">
                     <option value="Mr.">นาย</option>
                     <option value="Mrs.">นาง</option>
                     <option value="Miss">นางสาว</option>
                 </select><br><br>
                 <label for="name">ชื่อ: </label>
                 <input type="text" id="name"><br><br>
                 <label for="lastname">นามสกุล: </label>
                 <input type="text" id="lastname"><br><br>
                 <label for="major">เอก: </label>
                 <input type="text" id="major"><br><br>
                 <label for="email">Email: </label>
                 <input type="email" id="email"><br><br><br>

             </div>
                 <input type="submit" value="บันทึก">
                 <input type="button" value="ยกเลิก">
                 <br><br><br>

        </FormLayout>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../../components/layouts/TeacherLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'
export default {
   components:{
       TeacherLayout,
       FormLayout,
   }
}
</script>

<style scoped>
button{
    background:#007468;
    font: 16px Prompt;
    color:white;
    border:none;
    border-radius: 5px;
    outline-width:0;
    box-shadow:0 1px 1px gray;
    border:none;
    float:left;
    margin-left: 22.5vw;
    height:40px;
    cursor:pointer;

}
p{
     color:black;
     border:none;
     border-radius: 5px;
     text-align:center;
     float:left;
     margin-left: 40px;
     width:auto;
     padding-left:8px;
     padding-right:8px;
     font: 16px Prompt;
 }
 div{
    text-align:left;
     margin-left: 50px;
     color:black;
     display: table;
 }
 select{
     width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
 }
 input[type="text"],input[type="email"]{
     width:300px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
     display: table-cell;
 }
 
 input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:160px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
</style>