<template>
    <TeacherLayout>
        <FormLayout>
        <div>
            <br>
            <p>เพิ่มชุด</p>
            <label for="no.">ชุดที่: </label>
            <input type="number" id="no." min="1" max="" style="outline-width:0;width:50px;box-shadow:0 1px 1px gray;border:none;"><br><br>
            <label>ชื่อฐานข้อมูล: </label>
            <select style="width:120;height:70;box-shadow:0 1px 1px gray;border:none;">
                <option value="Database1">Database1</option>
                <option value="Database2">Database2</option>
                <option value="Database3">Database3</option>
            </select>
            <br><br>
            <label for="upButton">ไฟล์:   </label>
            <span id="upButton">
            <label for="addFile">
                <mark>
                <img src="../../../assets/upload.png" style="max-height:16px">
                  เพิ่มไฟล์
                </mark>  
            </label>
            <input type="file" id="addFile" style="display:none">
            </span><br><br>
            <label for="purpose" >วัตถุประสงค์: </label>
            <select id="purpose" style="width:120px;height:70;outline-width:0;box-shadow:0 1px 1px gray;border:none;">
                <option value="preTest">ทดลอง</option>
                <option value="Test">ทดสอบ</option>
            </select><br><br>
            <label for="type">คำถามแบบ:  </label>
            <select id="type" style="width:120;height:70;outline-width:0;box-shadow:0 1px 1px gray;border:none;">
                <option value="Manual">กำหนดเอง</option>
                <option value="Auto">อัตโนมัติ</option>
            </select><br><br>
            <label for="">วันที่กำหนดส่ง: </label>
            <input type="date" placeholder="mm/dd/yyyy">
            <br><br>
            <label for="start">เวลาเริ่ม: </label>
            <input type="time" id="start" style="outline-width:0;box-shadow:0 1px 1px gray;border:none;">
            <br><br>
            <label for="end">เวลาส่ง: </label>
            <input type="time" id="end" style="outline-width:0;box-shadow:0 1px 1px gray;border:none;"><br><br>
            <label for="status">สถานะ: </label>
            <select id="status" style="width:120px;height:70;outline-width:0;box-shadow:0 1px 1px gray;border:none;">
                <option value="open">เปิด</option>
                <option value="close">ปิด</option>
            </select><br><br><br>
        </div>
        <input type="submit" value="เพิ่ม">
        <input type="reset" value="ล้าง">
        <br><br><br>
        </FormLayout>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../../components/layouts/TeacherLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'
export default {
    components: {
        TeacherLayout,
        FormLayout,
    }
}
</script>

<style scoped>
 p{
   font:16px Prompt ;
   color:black;
   text-decoration: 3px underline black;
  }
  div{
      text-align: left;
      margin-left: 70px;
      outline-width: 0;
      font: 16px Prompt;
      color:black;
      border: none;
      width:40%;
    
  }
  input[type="number"],input[type="date"],input [type="time"]{
      width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
  }
   input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:120px; height:30px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="reset"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:30px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
label[for="addFile"]{
    background:white;
    height:60px;
    box-shadow:0 1px 1px gray;
    border:none;
    padding-right: 100px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
}
mark{
    background:#C4C4C4
}
 </style>