<template>
    <TeacherLayout>
        <FormLayout>
            <p>เพิ่มแบบทดสอบแบบอัตโนมัติ</p>
            <br><br><br>
            <p>เลือกประเภทคำถาม</p>
        <div>    
            <br><br><br>
            <input type="radio" name="choice" id="insert">
            <label for="insert">Insert</label>
            <input type="radio" name="choice" id="update">
            <label for="update">Update</label>
            <input type="radio" name="choice" id="select">
            <label for="select">Select</label>
            <input type="radio" name="choice" id="delete">
            <label for="delete">Delete</label>
            <br><br><br>
         </div>
         <p>เลือกระดับคำถาม</p>
             <div>    
            <br><br><br>
            <input type="radio" name="option" id="R">
            <label for="R">ความจำ</label>
            <input type="radio" name="option" id="U">
            <label for="U">ความเข้าใจ</label>
            <input type="radio" name="option" id="I">
            <label for="I">ประยุกต์</label>
            <input type="radio" name="option" id="A">
            <label for="A">วิเคราะห์</label>
            <br><br><br>
         </div>
         <div class="opt">
            <label for="score">คะแนน: </label>
            <input type="text" id="score">
         </div>
         <br><br><br>
         <input type="submit" value="สร้างคำถาม">
         <input type="button" value="ย้อนกลับ"> <br><br><br>
        </FormLayout>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../../components/layouts/TeacherLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'
export default {
    components:{
        TeacherLayout,
        FormLayout,
    }
}
</script>

<style scoped>
p{
     background:#007468;
     color:black;
     border:none;
     border-radius: 5px;
     text-align:center;
     float:left;
     margin-left: 40px;
     width:auto;
     padding-left:8px;
     padding-right:8px;
     font: 16px Prompt;
 }
 div{
     text-align: left;
     margin-left: 40px;
     color:black;
     
 }
 .opt{
     text-align: left;
     margin-left: 40px;
 }
 input[type="text"]{
     width: 250px;
 }
 select{
     width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
 }
 input{
     width:20px;
     height:20px;
     outline-width: 0;
     outline:none;
     border:none;
     
 }
 input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
</style>