<template>
    <TeacherLayout>
         <br>
        <FormLayout>
         <br>
           <p>เพิ่มแบบทดสอบแบบกำหนดเอง</p><br><br><br>
           <div>
               <label for="question no.">โจทย์ข้อ: </label>
                <input type="text" id="question no."><br><br>
               <label for="answer">คำตอบข้อ: </label>
                <input type="text" id="answer"><br><br>
               <label for="score">คะแนน: </label>
                <input type="text" id="score"><br><br>
               <label for="standard">เกณฑ์: </label>
                <select id="standard">
                    <option value="1">ผลลัพธ์เท่านั้น</option>
                    <option value="2">ผลลัพธ์และคำสั่ง</option>
                </select><br><br>
           </div>
           <input type="submit" value="ยืนยัน">
           <input type="button" value="ย้อนกลับ"> <br><br><br>
        </FormLayout>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../../components/layouts/TeacherLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'

 
export default {
    components: {
        TeacherLayout,
        FormLayout
    }

}
</script>

<style scoped>
p{
     background:#007468;
     color:black;
     border:none;
     border-radius: 5px;
     text-align:center;
     float:left;
     margin-left: 40px;
     width:auto;
     padding-left:8px;
     padding-right:8px;
     font: 16px Prompt;
 }
 div{
     text-align:left;
     margin-left: 40px;
     color:black;
 }
 select{
     width:200px;
     height:25px;
     outline-width:0;
     box-shadow:0 1px 1px gray;
     border:none;
 }
 input{
     width: 400px;
     height:20px;
     outline-width: 0;
     box-shadow:0 1px 1px gray;
     border:none;
     
 }
 input[id="answer"]{
     width:400px;
     height:120px;
     outline-width: 0;
     border:none;
     box-shadow:0 1px 1px gray;
 }
 input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
</style>