<template>
    <TeacherLayout>
        <QuestListLayout>
            <br>
            <tr>
             <td>test1</td>
             <td>1</td>
             <td>5</td>
             <td>เปิด</td>
             <td>
                 <img class="Icon" alt="View" src="../../../assets/view.png">
                 <img class="Icon" alt="Edit" src="../../../assets/edit.png">
                 <img class="Icon" alt="Delete" src="../../../assets/trash-can.png">
             </td> 
             <td>
                 <img class="Icon" alt="View" src="../../../assets/file.png">
             </td>
         </tr>
         <tr>
             <td>test1</td>
             <td>2</td>
             <td>10</td>
             <td>เปิด</td>
             <td>
                 <img class="Icon" alt="View" src="../../../assets/view.png">
                 <img class="Icon" alt="Edit" src="../../../assets/edit.png">
                 <img class="Icon" alt="Delete" src="../../../assets/trash-can.png">
             </td> 
             <td>
                 <img class="Icon" alt="View" src="../../../assets/file.png">
             </td>
         </tr>
         <tr>
             <td>test2</td>
             <td>1</td>
             <td>2</td>
             <td>เปิด</td>
             <td>
                 <img class="Icon" alt="View" src="../../../assets/view.png">
                 <img class="Icon" alt="Edit" src="../../../assets/edit.png">
                 <img class="Icon" alt="Delete" src="../../../assets/trash-can.png">
             </td> 
             <td>
                 <img class="Icon" alt="View" src="../../../assets/file.png">
             </td>
         </tr>
         <tr>
             <td>test2</td>
             <td>2</td>
             <td>5</td>
             <td>เปิด</td>
             <td>
                 <img class="Icon" alt="View" src="../../../assets/view.png">
                 <img class="Icon" alt="Edit" src="../../../assets/edit.png">
                 <img class="Icon" alt="Delete" src="../../../assets/trash-can.png">
             </td> 
             <td>
                 <img class="Icon" alt="View" src="../../../assets/file.png">
             </td>
         </tr>
        </QuestListLayout>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../../components/layouts/TeacherLayout.vue'
import QuestListLayout from '../../../components/layouts/QuestListLayout.vue'
export default {
    components: {
        TeacherLayout,
        QuestListLayout,
    }
}
</script>

<style scoped>
.Icon{
       padding-left: 8px;
       padding-right: 5px;
       max-height: 24px;
   }
th{
        background-color: #007468;
        color: white;
        height:45px;
        font: 16px Prompt;
    }
    td{
        background-color: #F0EEEE;
        color: black;
        outline:none;
        border:none;
        height:45px;
        text-align:center;
        font: 16px Prompt;
    }
</style>