<template>
  <AdminLayout>
    <div class="flex justify-end">
      <button class="flex" type="button">เพิ่มอาจารย์</button>
      <form class="search flex ml-5">
        <input type="search" />
        <input type="submit" value=" " />
      </form>
    </div>
    <div class="mt-5" id="page">
      <table>
        <tr>
          <th>รหัสอาจารย์</th>
          <th>คำนำหน้า</th>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>จัดการ</th>
        </tr>
        <tr v-for="item of teachers" :key="item.teacherId">
          <td>{{ item.teacherId }}</td>
          <td>{{ item.prenameText }}</td>
          <td>{{ item.firstname }}</td>
          <td>{{ item.lastname }}</td>
          <td>
            <div class="flex justify-center">
              <img class="Icon" alt="View" src="/images/view.png" />
              <img class="Icon" alt="Edit" src="/images/edit.png" />
              <img class="Icon" alt="Delete" src="/images/trash-can.png" />
            </div>
          </td>
        </tr>
        <!-- <tr>
          <td>02</td>
          <td>ดร.</td>
          <td>จันทิมา</td>
          <td>ศรีวิชชยากร</td>
          <td>Database System</td>
          <td>02</td>
          <td>
            <img class="Icon" alt="View" src="/images/view.png" />
            <img class="Icon" alt="Edit" src="/images/edit.png" />
            <img class="Icon" alt="Delete" src="/images/trash-can.png" />
          </td>
        </tr> -->
      </table>
    </div>
    <div class="pop-up">
      <form class="pop-container"></form>
    </div>
  </AdminLayout>
</template>

<script>
import AdminLayout from "../../components/layouts/AdminLayout.vue";
import CoreService from "../../services/coreService";

export default {
  components: {
    AdminLayout,
  },
  data() {
    return {
      teachers: [],
      isLoading: false,
    };
  },

  methods: {
    async connectTeacherApi() {
      this.isLoading = true;
      const services = new CoreService();

      try {
        services
          .getAllTeacher()
          .then((data) => {
            this.teachers = data.data.result;
            this.isLoading = false;
          })
          .catch((err) => {
            console.log(err);
            this.isLoading = false;
          });
      } catch (error) {
        console.log(error);
        this.isLoading = false;
      }
    },
  },

  async mounted() {
    await this.connectTeacherApi();
  },
};
</script>
<style scoped>
.Icon {
  padding-left: 8px;
  padding-right: 5px;
  cursor: pointer;
  display: flex;
}
.search {
  float: right;
  right: 1%;
  width: 28%;
  position: relative;
}
input[type="search"] {
  margin-top: 20px;
  width: 250px;
  height: 28px;
  border: 2px solid black;
  border-radius: 3px;
  position: relative;

  box-shadow: 0 1px 1px gray;
}
input[type="submit"] {
  margin-top: 20px;
  border: 2px solid black;
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-color: #007468;
  border-radius: 3px;
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
  box-shadow: 0 1px 1px gray;
}
button {
  background-color: #007468;
  color: white;
  border: 1px solid black thin;
  padding: 5px 15px;
  border-radius: 7px;
  float: right;
  position: relative;
  box-shadow: 0 1px 1px gray;
  cursor: pointer;
  margin-top: 20px;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 1px 1px gray;
  font: 16px Prompt;
}
th {
  background-color: #007468;
  color: white;
  height: 45px;
  font: 16px Prompt;
}
td {
  background-color: #f0eeee;
  color: black;
  outline: none;
  border: none;
  height: 45px;
  text-align: center;
  font: 16px Prompt;
}
</style>