
<template>
<html>
 <AdminLayout>
 <br>
     <p>ยินดีต้อนรับ</p>
 </AdminLayout>
</html>
</template>

<script>
import AdminLayout from '../../components/layouts/AdminLayout.vue'

export default {
    name: 'AdminHome',
    components: {
        AdminLayout,
    }
 
}
</script>

<style scoped>

</style>




