<template>
  <AdminLayout>
    <FormLayout>
      <div class="p-4">
        <label
          style="
            float: left;
            margin-top: 20px;
            padding-left: 20px;
            font: normal bold 16px Prompt;
            color: black;
          "
          >เปลี่ยนรหัสผ่าน</label
        ><br /><br /><br /><br />
        รหัสผ่านเดิม:
        <input type="password" placeholder="old password" /><br /><br />
        รหัสผ่านใหม่:
        <input type="password" placeholder="new password" /><br /><br />
        รหัสผ่านใหม่อีกครั้ง:
        <input
          type="password"
          placeholder=" confirm new password"
        /><br /><br /><br /><br /><br />
        <input type="submit" value="ยืนยัน" />
        <input type="button" value="ยกเลิก" />
        <br /><br /><br />
      </div>
    </FormLayout>
  </AdminLayout>
</template>

<script>
import AdminLayout from "../../components/layouts/AdminLayout.vue";
import FormLayout from "../../components/layouts/FormLayout.vue";
export default {
  components: {
    AdminLayout,
    FormLayout,
  },
};
</script>

<style scoped>
input[type="password"] {
  width: 300px;
  height: 25px;
  border: hidden;
  box-shadow: 0 1px 1px gray;
  padding-left: 20px;
  color: black;
}
input[type="password"]:focus {
  outline-width: 0;
}
input[type="submit"] {
  background-color: #1a8149;
  font: 16px Prompt;
  color: white;
  width: 120px;
  height: 56px;
  border-radius: 5px;
  border: 10px hidden;
  margin-right: 15px;
  box-shadow: 0 1px 1px gray;
}
input[type="button"] {
  background-color: #e01313;
  font: 16px Prompt;
  color: white;
  width: 120px;
  height: 56px;
  border-radius: 5px;
  border: 10px hidden;
  margin-right: 15px;
  box-shadow: 0 1px 1px gray;
}
</style>