<template>
  <AdminLayout>
      <LogoutLayout/>
  </AdminLayout>
  
</template>

<script>
import AdminLayout from '../../components/layouts/AdminLayout.vue'
import LogoutLayout from '../../components/layouts/LogoutLayout.vue'
export default {
    components: {
        AdminLayout,
        LogoutLayout,
    }
}
</script>