<template>
  <AdminLayout>
    <div class="flex justify-end w-[90%] mt-5">
      <button
        type="button"
        onclick="window.location.href='/admin/subjects/add';"
      >
        เพิ่มวิชา
      </button>
      <form class="flex">
        <input type="search" />
        <input type="submit" value=" " />
      </form>
    </div>

    <table class="mt-5">
      <tr>
        <th>รหัสวิชา</th>
        <th>ชื่อวิชา</th>
        <th>หลักสูตร</th>
        <th>ปีการศึกษา</th>
        <th>สถานะ</th>
        <th>จัดการ</th>
      </tr>

      <tr v-for="item of subjects" :key="`SUBJECT${item.subject_code}`">
        <td>{{ item.subject_code }}</td>
        <td>{{ item.subject_name }}</td>
        <td>{{ item.course_name }}</td>
        <td>{{ item.subject_year }}</td>
        <td>{{ item.enable === "Y" ? "active" : "inactive" }}</td>
        <td>
          <div class="flex justify-center">
            <img class="Icon" alt="View" src="/images/view.png" onclick="" />
            <img class="Icon" alt="Edit" src="/images/edit.png" />
            <img class="Icon" alt="Delete" src="/images/trash-can.png" />
          </div>
        </td>
      </tr>
    </table>
  </AdminLayout>
</template>

<script>
import AdminLayout from "../../components/layouts/AdminLayout.vue";
import CoreService from "../../services/coreService";

export default {
  components: {
    AdminLayout,
  },
  data() {
    return {
      subjects: [],
      isLoading: false,
    };
  },

  methods: {
    async connectApiSubject() {
      this.isLoading = true;
      const services = new CoreService();

      try {
        services
          .getAllSubject()
          .then((data) => {
            this.subjects = data.data.result;
            this.isLoading = false;
          })
          .catch((err) => {
            console.error(err);
            this.isLoading = false;
          });
      } catch (error) {
        console.error(error);
        this.isLoading = false;
      }
    },
  },

  async mounted() {
    await this.connectApiSubject();
  },
};
</script>
<style scoped>
.Icon {
  padding-left: 8px;
  padding-right: 5px;
  display: flex;
  cursor: pointer;
}
.search {
  float: right;
  right: 1%;
  width: 28%;
  position: relative;
}
input[type="search"] {
  width: 250px;
  height: 28px;
  border: 2px solid black;
  border-radius: 3px;
  position: relative;

  box-shadow: 0 1px 1px gray;
}
input[type="submit"] {
  border: 2px solid black;
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-color: #007468;
  border-radius: 3px;
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
  box-shadow: 0 1px 1px gray;
}
button {
  background-color: #007468;
  color: white;
  height: 28px;
  width: 80px;
  border: 1px groove black;
  border-radius: 7px;
  float: right;
  position: relative;
  box-shadow: 0 1px 1px gray;
  cursor: pointer;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 1px 1px gray;
  font: 16px Prompt;
}
th {
  background-color: #007468;
  color: white;
  height: 45px;
  font: 16px Prompt;
}
td {
  background-color: #f0eeee;
  color: black;
  outline: none;
  border: none;
  height: 45px;
  text-align: center;
  font: 16px Prompt;
}
</style>