<template>
    <TeacherLayout>
    <br>
        <p style="font:bold 16px Prompt black">ยินดีต้อนรับ อาจารย์ผู้สอน</p>
        <p style="font: 16px Prompt black">ผู้ช่วยศาสตราจารย์ ดร.อรวรรณ เชาวลิต</p>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../components/layouts/TeacherLayout.vue'

export default {
    components: {
        TeacherLayout,
    }
}
</script>

<style scoped>
 p{
     text-align: left;
     margin-left: 80px;
 }
</style>
