<template>
  <TeacherLayout>
    <FormLayout>
      <div class="p-3">
        <p>เพิ่มฐานข้อมูล</p>
        <label for="upload">เพิ่มไฟล์ฐานข้อมูล</label>
        <input type="file" id="upload" style="display: none" />
        <br /><br />
        <label for="sql">เพิ่มข้อมูลในฐานข้อมูล: </label>
        <textarea id="sql"></textarea><br /><br />
        <button type="submit">ตกลง</button>
        <button type="reset">ยกเลิก</button><br /><br />
        <label for="preview">Database ของคุณ: </label>
        <textarea id="preview"></textarea><br /><br />
        <label for="result"> Result: </label>
        <textarea id="result"></textarea><br /><br /><br /><br />
      </div>
    </FormLayout>
  </TeacherLayout>
</template>

<script>
import TeacherLayout from "../../components/layouts/TeacherLayout.vue";
import FormLayout from "../../components/layouts/FormLayout.vue";
export default {
  components: {
    TeacherLayout,
    FormLayout,
  },
};
</script>

 <style scoped>
p {
  font: 16px Prompt;
  color: black;
  text-decoration: 2px underline #007468;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
label[for="upload"] {
  color: black;
  font: 16px Prompt;
  width: 150px;
  height: 27px;
  background-color: #007468;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px gray;
  float: left;
  text-align: center;
  margin-left: 50px;
}
label[for="sql"],
textarea[id="sql"] {
  text-align: left;
  width: 470px;
  height: 80px;
}
label[for="preview"],
textarea[id="preview"] {
  text-align: left;
  width: 300px;
  height: 40px;
}
textarea[id="result"] {
  text-align: left;
  width: 400px;
  height: 60px;
}
button[type="submit"] {
  background-color: #1a8149;
  font: 16px Prompt;
  color: white;
  width: 120px;
  height: 25px;
  border-radius: 5px;
  border: 10px hidden;
  margin-right: 15px;
  box-shadow: 0 1px 1px gray;
}
button[type="reset"] {
  background-color: #e01313;
  font: 16px Prompt;
  color: white;
  width: 120px;
  height: 25px;
  border-radius: 5px;
  border: 10px hidden;
  margin-right: 15px;
  box-shadow: 0 1px 1px gray;
}
</style>