<template>
    <TeacherLayout>
        <button type="button" onclick="window.location.href='/teacher/student/add';">เพิ่มนักศึกษา</button>
        <button type="button" onclick="">รายงาน</button>
    <div class="normalPage" id="page">
     <form class="search">
        <input type="search">
        <input type="submit" value=" ">
     </form>
     <br><br><br>
        <table>
         <tr>
             <th>รหัสนักศึกษา</th>
             <th>คำนำหน้า</th>
             <th>ชื่อ</th>
             <th>นามสกุล</th>
             <th>เอก</th>
             <th>กลุ่ม</th>
             <th>จัดการ</th> 
         </tr>
         <tr>
             <td>07610423</td>
             <td>นางสาว</td>
             <td>ณัฐธยาน์</td>
             <td>ถมยาพันธ์</td>
             <td>Information Technology</td>
             <td>1</td>
             <td>
                 <img class="Icon" alt="View" src="../../assets/view.png">
                 <img class="Icon" alt="Edit" src="../../assets/edit.png">
                 <img class="Icon" alt="Delete" src="../../assets/trash-can.png">
             </td>
         </tr>
         <tr>
              <td>07610617</td>
             <td>นางสาว</td>
             <td>ปวีณ์สุดา</td>
             <td>ไกยสิทธิ์</td>
             <td>Information Technology</td> 
             <td>1</td>
             <td>
                 <img class="Icon" alt="View" src="../../assets/view.png">
                 <img class="Icon" alt="Edit" src="../../assets/edit.png" >
                 <img class="Icon" alt="Delete" src="../../assets/trash-can.png" >
             </td>
         </tr>
     </table>
    </div>
    </TeacherLayout>
</template>

<script>
import TeacherLayout from '../../components/layouts/TeacherLayout.vue'
export default {
    components: {
       TeacherLayout,
    }
}
</script>

<style scoped>
   .Icon{
       padding-left: 8px;
       padding-right: 5px;
   }
   .search{
       float: right;
       right:1%;
       width:28%;
       position: relative;
   }
   input[type="search"] {
       width:250px;
       height:28px;
       border: 1px solid black;
       border-radius: 3px;
       position: relative;
       
       box-shadow: 0 1px 1px gray;
    
   }
   input[type="search"]:focus{
       outline-width: 0;
   }
   input[type="submit"]{
       border: 1px solid black;
       background-image: url(../../assets/search.png);
       background-repeat: no-repeat;
       background-color: #039485;
       border-radius: 3px;
       background-repeat: no-repeat;
       height: 28px;
       width:28px;
       box-shadow: 0 1px 1px gray;
   }
   button{
     background-color:#007468; 
     color:white;
     height:28px;
     width:100px;
     margin-right: 10px;
     border:1px solid black;
     border-radius:7px;
     float:right;
     right:40%;
     position: relative;
     box-shadow: 0 1px 1px gray;
     cursor: pointer;

   }
   table{
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width:90%;
       border-collapse: collapse;
       box-shadow: 0 1px 1px gray;
        font: 16px Prompt;
       
    }
    th{
        background-color: #007468;
        color: white;
        height:45px;
        font: 16px Prompt;
    }
    td{
        background-color: #F0EEEE;
        color: black;
        outline:none;
        border:none;
        height:45px;
        text-align:center;
        font: 16px Prompt;
    }
   
</style>