<template>
  <TeacherLayout>
      <LogoutLayout/>
  </TeacherLayout>
  
</template>

<script>
import TeacherLayout from '../../components/layouts/TeacherLayout.vue'
import LogoutLayout from '../../components/layouts/LogoutLayout.vue'
export default {
    components: {
        TeacherLayout,
        LogoutLayout,
    }
}
</script>