<template>
  <TeacherLayout>
    <div class="flex justify-end mt-5">
      <button class="flex" type="button">เพิ่มชุดข้อสอบ</button>
      <form class="search flex mt-auto mb-auto ml-5">
        <input type="search" />
        <input type="submit" value=" " />
      </form>
    </div>

    <table class="mt-5">
      <tr>
        <th>ชุดที่</th>
        <th>ชื่อฐานข้อมูล</th>
        <th>วัตถุประสงค์</th>
        <th>คำถามแบบ</th>
        <th>วันกำหนดส่ง</th>
        <th>เวลาเริ่ม</th>
        <th>เวลาส่ง</th>
        <th>สถานะ</th>
        <th>จัดการ</th>
      </tr>

      <tr v-for="item of testGroups" :key="`TEST_GROUP_${item.quiz_group_id}`">
        <td>{{ item.quiz_group_id }}</td>
        <td>{{ item.database_name }}</td>
        <td>{{ item.quiz_objective }}</td>
        <td>{{ item.quiz_type === "S" ? "กำหนดเอง" : "อัตโนมัติ" }}</td>
        <td>{{ item.quiz_end_date }}</td>
        <td>{{ item.quiz_start_time }}</td>
        <td>{{ item.quiz_end_time }}</td>
        <td>{{ item.enable === "Y" ? "active" : "inactive" }}</td>
        <td>
          <div class="flex justify-center">
            <img class="Icon" alt="View" src="/images/view.png" onclick="" />
            <img class="Icon" alt="Edit" src="/images/edit.png" />
            <img class="Icon" alt="Delete" src="/images/trash-can.png" />
          </div>
        </td>
      </tr>
    </table>
  </TeacherLayout>
</template>

<script>
import TeacherLayout from "../../components/layouts/TeacherLayout.vue";
import CoreService from "../../services/coreService";
export default {
  components: {
    TeacherLayout,
  },

  data() {
    return {
      isLoading: false,
      testGroups: [],
    };
  },

  methods: {
    async connectApiGetTeacherTestGroup() {
      this.isLoading = true;
      const services = new CoreService();

      try {
        services
          .getAllTestGroup()
          .then((data) => {
            this.testGroups = data.data.result;
            this.isLoading = false;
          })
          .catch((err) => {
            console.error(err);
            this.isLoading = false;
          });
      } catch (error) {
        console.error(error);
        this.isLoading = false;
      }
    },
  },

  async mounted() {
    await this.connectApiGetTeacherTestGroup();
  },
};
</script>

<style scoped>
.Icon {
  padding-left: 8px;
  padding-right: 5px;
  max-width: 24px;
  cursor: pointer;
}
.search {
  float: right;
  right: 1%;
  width: 28%;
  position: relative;
}
input[type="search"] {
  width: 250px;
  height: 28px;
  border: 2px solid black;
  border-radius: 3px;
  position: relative;

  box-shadow: 0 1px 1px gray;
}
input[type="submit"] {
  border: 2px solid black;
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-color: #007468;
  border-radius: 3px;
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
  box-shadow: 0 1px 1px gray;
}
button {
  background-color: #007468;
  color: white;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 7px;
  float: right;
  position: relative;
  box-shadow: 0 1px 1px gray;
  cursor: pointer;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 1px 1px gray;
  font: 16px Prompt;
}
th {
  background-color: #007468;
  color: white;
  height: 45px;
  font: 16px Prompt;
}
td {
  background-color: #f0eeee;
  color: black;
  outline: none;
  border: none;
  height: 45px;
  text-align: center;
  font: 16px Prompt;
}
</style>