<template>
    <StudentLayout>
        <label for="head" style="float:left;text-align:left; margin-left:100px;">
         <p id="head">
             ชื่อแบบทดสอบ
        </p>
        </label>
        <br><br><br>
        <FormLayout>
         <label id="headform" style="float:left;text-align:left; margin-left:20px;margin-top:15px;">
             <p style="font: 16px Prompt;color:black">โจทย์: </p>
             <p style="font: 16px Prompt;color:black">ข้อกำหนด: ผลลัพธ์และคำสั่ง</p>
         </label><br><br><br><br><br><br>
          <textarea></textarea><br><br><br>
          <input type="submit" value="รันคำตอบ">
          <input type="submit" value="ตรวจคำตอบ">
          <input type="submit" value="ส่งคำตอบ">
          <input type="button" value="ยกเลิก">
          <br><br>
          <label style="float:left;text-align:left; margin-left:20px;">
          <p style="font: 16px Prompt;color:black">แสดงผลของคำสั่งที่เลือก</p>
          </label>
          <br><br><br><br><br><br><br><br><br><br><br>
        </FormLayout>
    </StudentLayout>
</template>

<script>
import StudentLayout from '../../../components/layouts/StudentLayout.vue'
import FormLayout from '../../../components/layouts/FormLayout.vue'

export default {
    components: {
        StudentLayout,
        FormLayout,
    }
}
</script>

<style scoped>
label p[id="head"]{
 font: 16px Prompt;
 color:white;
 width:120px;
 height:30px;
 justify-content:center;
 background:#007468;
 text-align:center;
 border:none;
 outline:none;
 border-radius: 5px ;
}
textarea {
    background-color:white;
    width:70%;
    height:160px;
    border:none;
    outline:none;
    box-shadow: 0 1px 1px gray;
}
textarea:focus{
    outline-width: 0;
}
input[type="submit"]{
     background-color:#1A8149 ;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
    
    
 }
  input[type="button"]{
     background-color: #E01313;
     font: 16px Prompt;
     color:white;
     width:120px; height:25px;
     border-radius: 5px ;
     border:10px hidden;
     margin-right: 15px;
     box-shadow: 0 1px 1px gray;
 }
</style>