<template>
 <br>
    <div class="form">
        <slot>
        </slot>
    </div>
</template>

<style scoped>
 .form{
     background: rgba(0,74,68,0.25) ;
     width:55%;
     height:70%;
     margin:auto;
 }
</style>