<template>
  <body>
    <alert-modal :open="isOpenAlert" :onClose="onClose" :message="message" />
    <loading-component :open="isLoading" />
    <main
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 102.65vh;
      "
    >
      <form className="form-login" @submit="handleSubmitLogin">
        <div className="center">
          <span
            style="font: 40px Prompt Medium; text-decoration: underline #039485"
            >LOGIN</span
          >
        </div>

        <br />

        <input
          type="text"
          id="username"
          v-model="username"
          placeholder="Username"
        /><br /><br />
        <input
          type="password"
          id="password"
          v-model="password"
          placeholder="Password"
        /><br /><br />
        <button type="submit">Login</button><br /><br />
        <a href="/reset" style="font: 18 px Prompt">ลืมรหัสผ่าน</a>
      </form>
    </main>
  </body>
</template>

<script>
import AlertModal from "../../components/shared/alertComponent.vue";
import loadingComponent from "../../components/shared/loadingComponent.vue";
import CoreService from "../../services/coreService";
export default {
  data() {
    return {
      username: "",
      password: "",
      message: "",
      response: {},
      isLoading: false,
      isOpenAlert: false,
    };
  },
  components: {
    AlertModal,
    LoadingComponent: loadingComponent,
  },
  mounted() {},
  methods: {
    async handleSubmitLogin(e) {
      this.isLoading = true;
      const services = new CoreService();

      try {
        services
          .login(this.username, this.password)
          .then((data) => {
            let statusLogin = data.data.result.isLoginSuccess;
            let userData = data.data.result.userData;
            sessionStorage.setItem("isLogin", statusLogin);
            if (statusLogin) {
              switch (userData.userType) {
                case "ADMIN":
                  this.$router.push({ name: "manageTeacher" });
                  break;
                case "STUDENT":
                  this.$router.push({ name: "test" });
                  break;
                case "TEACHER":
                  this.$router.push({ name: "manageTest" });
                  break;
                default:
                  break;
              }
            }
            this.isLoading = false;
          })
          .catch((err) => {
            console.log(err);
            this.isOpenAlert = true;
            this.message = "เข้าสู่ระบบไม่สำเร็จ";
            this.isLoading = false;
          });
      } catch (error) {
        console.log(error);
        this.isOpenAlert = true;
        this.message = "เข้าสู่ระบบไม่สำเร็จ";
        this.isLoading = false;
      }

      e.preventDefault();
    },

    onClose() {
      this.isOpenAlert = false;
    },
  },
};
</script>

<style scoped>
.center {
  text-align: center;
}
body {
  background-image: url(../../assets/loginbg1.png);
  background-size: cover;
  /* width: 100vw;
  height: 100vh;
  padding-top: 20vh; */
  /* margin-left: -10px;
  margin-top: -10px;
  margin-right: 0px;
  margin-bottom: -10px; */
}
button {
  background-color: #007468;
  color: #fff;
  border-radius: 10px;
  border: hidden;
  width: 130px;
  height: 50px;
  font: 20px Prompt;
}
.form-login {
  display: inline-block;
  background-color: white;
  outline: 2px groove white;
  border-radius: 25px;
  width: 380px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
input {
  border: none;
  background-color: #bfdcd9;
  opacity: 1;
  border-radius: 5px;
  width: 85%;
  height: 10%;
  padding: 10px 10px;
  font: 18px Prompt;
  color: black;
  align-content: center;
}
input::placeholder {
  color: #808080;
  font: 16px Prompt;
}
select {
  border: none;
  background-color: #bfdcd9;
  opacity: 1;
  border-radius: 5px;
  width: 85%;
  height: 10%;
  color: #808080;
  font: 16px Prompt;
}
a {
  color: black;
}
a:link {
  color: black;
}
a:hover {
  color: red;
}
</style>