<template>
  <br /><br />
  <form class="logout">
    <br /><br /><br />
    <p style="font: 18px Prompt; color: white; justify-self: center">
      ต้องการออกจากระบบ?
    </p>
    <br /><br /><br />
    <input type="button" id="confirm" value="ตกลง" :onclick="logout" />
    <input type="button" id="cancel" value="ยกเลิก" />
    <br /><br />
  </form>
</template>

<script>
export default {
  methods: {
    logout() {
      sessionStorage.clear();
      this.$router.push({ name: "login" });
    },
  },
};
</script>

<style scoped>
.logout {
  background-color: #007468;
  text-align: center;
  width: 40%;
  height: 40%;
  margin: auto;
}
.logout input[id="confirm"] {
  background-color: #1a8149;
  font: 16px Prompt;
  color: white;
  width: 120px;
  height: 56px;
  border-radius: 5px;
  border: 10px hidden;
  margin-right: 20px;
  box-shadow: 0 1px 1px gray;
}
.logout input[id="cancel"] {
  background-color: #e01313;
  font: 16px Prompt;
  color: white;
  width: 120px;
  height: 56px;
  border-radius: 5px;
  border: 10px hidden;
  margin-right: 20px;
  box-shadow: 0 1px 1px gray;
}
</style>