<template>
    <button type="button" onclick="window.location.href='/teacher/test/new-question' ;">เพิ่มแบบทดสอบ</button>
            <div class="normalPage" id="page">
                <form class="search">
                    <input type="search">
                    <input type="submit" value=" ">
                </form><br><br>
                <br><br>
            </div>
             <table>
         <tr>
             <th>ชื่อแบบทดสอบ</th>
             <th>ข้อที่</th>
             <th>คะแนน</th>
             <th>สถานะ</th>
             <th>จัดการ</th> 
             <th>คะแนน</th>
         </tr>
         <slot/>
            </table>
</template>

<style scoped>
.Icon{
       padding-left: 8px;
       padding-right: 5px;
   }
.search{
       float: right;
       right:1%;
       width:28%;
       position: relative;
   }
   input[type="search"] {
       width:250px;
       height:28px;
       border: 2px solid black;
       border-radius: 3px;
       position: relative;

       box-shadow: 0 1px 1px gray;
    
   }
   input[type="submit"]{
       border: 2px solid black;
       background-image: url(../../assets/search.png);
       background-repeat: no-repeat;
       background-color: #007468;
       border-radius: 3px;
       background-repeat: no-repeat;
       height: 28px;
       width:28px;
       box-shadow: 0 1px 1px gray;
   }
   button{
     background-color:#007468; 
     color:white;
     height:28px;
     width:130px;
     border:1px solid black;
     border-radius:7px;
     float:right;
     right:36%;
     position: relative;
     box-shadow: 0 1px 1px gray;
     cursor: pointer;

   }

   table{
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width:50%;
       border-collapse: collapse;
       box-shadow: 0 1px 1px gray;
        font: 16px Prompt;
       
    }
    th{
        background-color: #007468;
        color: white;
        height:45px;
        font: 16px Prompt;
    }
    td{
        background-color: #F0EEEE;
        color: black;
        outline:none;
        border:none;
        height:45px;
        text-align:center;
        font: 16px Prompt;
    }
</style>