<template>
  <body>
    <main
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 99.5vh;
      "
    >
      <form @submit="handleSubmitLogin">
        <p style="text-decoration: underline #039485">
          <span style="font: 40px Prompt Medium">ลืมรหัสผ่าน</span>
        </p>

        <br />

        <input
          type="email"
          id="email"
          v-model="email"
          placeholder="Email"
        /><br /><br />
        
        <!-- <select name="type_user" class="form-control col-md-12">
    <option value="admin">admin</option>
    <option value="student">student</option>
    <option value="teacher">teacher</option>
 </select> -->
        <br /><br />
        <button type="submit">ส่ง</button><br /><br />
        <a href="/login" style="font: 18 px Prompt">กลับหน้าเข้าสู่ระบบ</a>
      </form>
    </main>
  </body>
</template>

<script>
import CoreService from "../../services/coreService";
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async handleSubmitLogin(e) {
      const service = new CoreService();
      const res = await service.login(this.username, this.password);
      e.preventDefault();
    },
  },
};
</script>

<style scoped>
body {
  background-image: url(../../assets/loginbg1.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  margin-left: -10px;
  margin-top: -10px;
  margin-right: 0px;
  margin-bottom: -10px;
}
button {
  background-color: #007468;
  color: #fff;
  border-radius: 10px;
  border: hidden;
  width: 130px;
  height: 50px;
  font: 20px Prompt;
}
form {
  display: inline-block;
  background-color: white;
  outline: 2px groove white;
  border-radius: 25px;
  width: 380px;
  height: 400px;
  margin-top: -20%;
}
input {
  border: none;
  background-color: #bfdcd9;
  opacity: 1;
  border-radius: 5px;
  width: 85%;
  height: 10%;
  font: 16px Prompt;
  color: black;
}
input::placeholder {
  color: #808080;
  font: 16px Prompt;
}
select {
  border: none;
  background-color: #bfdcd9;
  opacity: 1;
  border-radius: 5px;
  width: 85%;
  height: 10%;
  color: #808080;
  font: 16px Prompt;
}
a {
  color: black;
}
a:link {
  color: black;
}
a:hover {
  color: red;
}
</style>