<template>
    <body>
        <div class="bar-student">
          <ul>
            <img class="logo mr-[50px]" src="/images/mysql.png">
            <li><a href="/student">หน้าหลัก</a></li>
            <li><a href="/student/test">แบบทดสอบ</a></li>
            <li><a href="/student/logout">ออกจากระบบ</a></li>
            <img class="logoaccount" src="/images/account.png">
          </ul>
        </div>
        <p>
          <slot>
          </slot>
        </p>
    </body>
</template>

<style scoped>
  body{
    background-image: url(../../assets/mainbg.png);
    background-size:cover;
    height: 100vh;
    width: 100vw;
    margin:0px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: 0px;
    margin-bottom: -10px;
  }
  .logo{
    float:left;
    left:3%;
    top:10px;
    width:100px;
    position: relative;
  }
  .logoaccount{
    float:right;
    right:3%;
    top:20px;
    width:18px;
    position: relative;
  }
  .bar-student ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    height: 60px;
    overflow: hidden;
    background-color: #007468;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.bar-student li{
  display: inline-block;
  margin-top: 20px;
  right:50%;
}
.bar-student li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.bar-student li a:hover {
  background-color: #039485;
}

</style>
