
<template>
  <body>
    <div class="navbar">
      <img class="logo-icon" src="/images/mysql.png" />
      <div className="items">
        <div class="navbar-item">
          <a href="/teacher/student">นักศึกษา </a>
        </div>

        <div class="navbar-item">
          <a href="/teacher/db">ฐานข้อมูล </a>
        </div>

        <div class="navbar-item">
          <a href="/teacher/test">แบบทดสอบ </a>
        </div>
        <div class="navbar-item">
          <a href="/teacher/changePass">เปลี่ยนรหัส </a>
        </div>
        <div class="navbar-item">
          <a href="/teacher/logout">ออกจากระบบ </a>
        </div>
      </div>

      <img class="logoaccount" src="/images/account.png" />
    </div>
    <p>
      <slot></slot>
    </p>
  </body>
</template>


<style scoped>
.logo-icon {
  width: 100px;
  margin-top: auto;
}

body {
  background-image: url("../../assets/mainbg.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.items {
  display: inline-flex;
  width: auto !important;
}
.navbar {
  display: flex;
  background: #039485;
  padding: 5px 20px;
}
.navbar-item {
  display: inline-flex;
  padding: 10px 10px;
}
.navbar-item:hover {
  background: #1ba799;
}
.navbar-item a {
  text-decoration: none;
  color: #ffffff;
}

.logoaccount {
  width: 20px;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 20px;
}
</style>



